---
import Navbar from "../components/Navbar.astro";
let name = 'astro-course 2'
---

<html lang="en">
<head>
    <meta charset="utf-8"/>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
    <meta name="viewport" content="width=device-width"/>
    <meta name="generator" content={Astro.generator}/>
    <title>{name}</title>
</head>
<body>

<Navbar/>

<h1>Home</h1>

<div>
    <p>Now: {new Date().toLocaleTimeString()}</p>
    <p id="currentTime">Now: </p>
</div>

<footer>
    year: 2023
</footer>

<script>
	const footer = document.querySelector('footer') as HTMLElement;
	const currentTime = document.getElementById('currentTime') as HTMLParagraphElement;
	
	const cuerrentYear: number = new Date().getFullYear();
	footer.innerText = String(cuerrentYear);
	
	const actualTime: string = new Date().toLocaleTimeString();
	currentTime.innerText = `Now ${String(actualTime)}`;

</script>
</body>
</html>
